<?xml version="1.0" encoding="utf-8" ?>
<c2layout>
    <name>Menu</name>
    <sid>746661753804725</sid>
    <event-sheet>Menu sheet</event-sheet>
    <size>
        <width>1708</width>
        <height>960</height>
    </size>
    <margins>
        <horizontal>500</horizontal>
        <vertical>500</vertical>
    </margins>
    <unbounded-scrolling>0</unbounded-scrolling>
    <layers>
        <layer name="Layer 0" sid="843289922234483">
            <initially-visible>1</initially-visible>
            <background-color>255,255,255</background-color>
            <transparent>0</transparent>
            <parallax>
                <x>1</x>
                <y>1</y>
            </parallax>
            <zoom-rate>1</zoom-rate>
            <opacity>1</opacity>
            <force-own-texture>0</force-own-texture>
            <global>0</global>
            <use-render-cells>0</use-render-cells>
            <blend-mode>0</blend-mode>
            <effect-fallback>0</effect-fallback>
            <instances>
                <instance type="poster" uid="193">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>425.394592285</x>
                        <y>240.903289795</y>
                        <z>0</z>
                        <width>851</width>
                        <height>482</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Sprite14" uid="194">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>776</x>
                        <y>361</y>
                        <z>0</z>
                        <width>149.711288452</width>
                        <height>63.101451874</height>
                        <depth>0</depth>
                        <hotspotX>0.504132211</hotspotX>
                        <hotspotY>0.509803951</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Sprite15" uid="195">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>741.505004883</x>
                        <y>441.923492432</y>
                        <z>0</z>
                        <width>216.033813477</width>
                        <height>71.322166443</height>
                        <depth>0</depth>
                        <hotspotX>0.502415478</hotspotX>
                        <hotspotY>0.508196712</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="full_screen" uid="203">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>fullscreen</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Disabled</collisions>
                    </properties>
                    <instance-variables>
                        <element_name>fullscreen_btn</element_name>
                        <tag></tag>
                        <states>1</states>
                        <callback>toggleFullScreen</callback>
                        <clickSound>pop</clickSound>
                        <popAnimation>true</popAnimation>
                    </instance-variables>
                    <behavior-instances>
                        <behavior-instance type="LiteTween">
                            <properties>
                                <active-on-start>No</active-on-start>
                                <tweened-property>Position</tweened-property>
                                <function>EaseOutBounce</function>
                                <target>100,100</target>
                                <target-mode>Absolute</target-mode>
                                <duration>2.5</duration>
                                <enforce-mode>Compromise</enforce-mode>
                            </properties>
                        </behavior-instance>
                        <behavior-instance type="Pin" />
                        <behavior-instance type="Anchor">
                            <properties>
                                <left-edge>Window right</left-edge>
                                <top-edge>Window top</top-edge>
                                <right-edge>Window right</right-edge>
                                <bottom-edge>None</bottom-edge>
                                <initial-state>Enabled</initial-state>
                            </properties>
                        </behavior-instance>
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>32</x>
                        <y>451</y>
                        <z>0</z>
                        <width>57.143001556</width>
                        <height>57.143001556</height>
                        <depth>0</depth>
                        <hotspotX>0.512499988</hotspotX>
                        <hotspotY>0.512499988</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="name" uid="205">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>435</x>
                        <y>58</y>
                        <z>0</z>
                        <width>791.913269043</width>
                        <height>131.457595825</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="btnSound" uid="213">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>123</x>
                        <y>452</y>
                        <z>0</z>
                        <width>57.143001556</width>
                        <height>57.143001556</height>
                        <depth>0</depth>
                        <hotspotX>0.512499988</hotspotX>
                        <hotspotY>0.512499988</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
            </instances>
            <effects />
        </layer>
    </layers>
    <nonworld-instances />
    <effects />
</c2layout>
